
/*******************************************************************/
/*                           Google Earth                          */
/*******************************************************************/
#home  {
/*	float     : left; */
    overflow: hidden;
    margin    : 10px;
}

.mymap {
    border: 5px; 
    margin: 5px; 
    border-color:blue;
    border-style:solid;
    z-index:-1; 
}

#map3d {z-index:-1; }

#userInput {
    margin   : 10px; 
    width      : 100%;
}

.ui-input-field {
    margin: 10px;
}

#drillDownButton {
    margin: 10px 0;
    width: 100%;
    float: left;
}